@import "./global.scss";

.contact {
  &-section {
    padding: 150px 0;
  }
  &-title {
    padding: 25px 0;
    & > h2 {
      text-align: center;
      font-size: 40px;
      font-weight: 450;
    }
  }
  &-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-item {
    font-weight: 100;
    width: 100%;
    & > a > img {
      width: 40px;
      height: 40px;
      position: relative;
      top: 0;
    }
    & > a > img:hover {
      top: -3px;
      transition: 0.3s;
    }
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
