$color-primary: black;
$color-secondary: #dad6d6;
$color-tertiary: #a8a4a4;
$icon-background: #007bff;
$font-weight-primary: 100;
$font-weight-title: 600;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  color: $color-primary;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
