@import "./global.scss";

.header {
  &-section {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 0 0 auto;
    &-list {
      gap: 40px;
      display: flex;
      align-items: center;
    }
    &-item {
      & > a {
        color: $color-primary;
        font-weight: $font-weight-primary;
        & > img {
          width: 20px;
          height: 20px;
        }
        & > img:hover {
          color: $color-tertiary;
        }
      }
      & > a:hover {
        color: $color-tertiary;
      }
    }
  }
  &-burger {
    &-list {
      width: 100vw;
      height: 100vh;
      background-color: $color-secondary;
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &.is-active {
        display: flex;
      }
    }
    &-item {
      & > a {
        color: $color-primary;
        font-weight: $font-weight-primary;
      }
      & > a:hover {
        color: $color-tertiary;
      }
    }
  }
  &-burger:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-nav-list {
      display: none;
    }
    &-burger {
      width: 40px;
      height: 40px;
      background-image: url(../Images/burger.png);
      margin-right: 20px;
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 2;
      &.is-active {
        background-image: url(../Images/close.png);
      }
    }
  }
}
