* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-section {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.header-nav {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header-nav-item > a {
  color: #b7b4b4;
  font-weight: 100;
  position: relative;
}
.header-nav-item > a:hover {
  color: black;
}
.header-nav-item > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: black;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.header-nav-item > a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    align-items: center;
  }
  .header-nav-item > a {
    color: #b7b4b4;
  }
  .header-nav-item > a:hover {
    color: black;
    text-decoration: underline;
  }
}
.home-section {
  padding: 100px 0;
  text-align: center;
}
.home-title {
  font-size: 60px;
  font-weight: 600;
}
.home-subtitle {
  font-weight: 400;
}

.works-section {
  padding: 100px 0;
}
.works-title {
  text-align: center;
  font-size: 40px;
  font-weight: 450;
}
.works-list-line1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px 0;
}
.works-list-line2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px 0;
}
.works-item-line1 > a:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.works-item-line2 > a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .works-list-line1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works-list-line2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works-item-line1 > a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  .works-item-line2 > a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}
.skills-section {
  padding: 100px 0;
}
.skills-title {
  text-align: center;
  font-size: 40px;
  font-weight: 450;
}
.skills-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px 0;
}
.skills-item {
  font-weight: 100;
}
.skills-item > p {
  text-align: center;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .skills-list {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
  }
}
.contact-section {
  padding: 100px 0;
}
.contact-title {
  text-align: center;
  font-size: 40px;
  font-weight: 450;
}
.contact-message {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  padding: 15px 0;
}
.contact-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}
.contact-item {
  font-weight: 100;
}
.contact-item > a > img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 0;
}
.contact-item > a > img:hover {
  top: -3px;
  transition: 0.3s;
}

.footer-message {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  padding: 20px 0;
  background-color: #b7b4b4;
}/*# sourceMappingURL=style.css.map */